* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-bag-color: #89c15e;
  --forground-color: #ffffff;
  --base-font-size: 16px;
  --header-width: 60vw;
  --rule-box-height: 90%;
  --HUD-font-size: 1vw;
  --window-height: 65vh;
  --triangle-edges: 15vw;
  --angle-adjust: 3vw; /* use this vale to adjust the triangle  */
  --angle-offset: calc(var(--triangle-edges) - (var(--angle-adjust)));
  --triangle-border-offset: calc(
    var(--triangle-edges) - (var(--angle-adjust) + 2rem)
  );
  --controll-resize-index: 1;
  --controls-width: calc(10vw * var(--controll-resize-index));
  --rock-img: url(/assets/Rock.png);
  --scissor-img: url(/assets/Scissor.png);
  --paper-img: url(/assets/Paper.svg);
  --color-rock: #0074b6;
  --color-paper: #ffa943;
  --color-scissor: #bd00ff;
}

body {
  background-color: var(--main-bag-color);
}
header {
  display: flex;
  color: var(--forground-color);
  width: var(--header-width);
  margin: auto;
  margin-top: 5vh;
  border: 3px solid var(--forground-color);
  border-radius: calc(var(--base-font-size));
  justify-content: space-between;
  align-items: center;
}
header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  padding: 2%;
  font-weight: 600;
  font-size: calc(var(--base-font-size) * 2);
  letter-spacing: calc(var(--base-font-size) / 16);
}
header > div:nth-child(2) {
  width: calc(var(--header-width) / 3);
  height: calc(var(--header-width) / 7);
  display: flex;
  justify-content: space-around;
  color: black;
}
div > span {
  display: flex;
  flex-direction: column;
}
.scoreCards {
  color: #656565;
  display: flex;
  aspect-ratio: 139/129;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  font-weight: 600;
  font-size: var(--HUD-font-size);
  background-color: var(--forground-color);
  border-radius: calc(var(--base-font-size) / 2);
}
.scoreValues {
  color: black;
  font-weight: 800;
  font-size: calc(var(--HUD-font-size) * 4);
}
.playGround {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--window-height));
  background-color: inherit;
  width: 100vw;
  background-color: inherit;
}
.playercontrolls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2vh;
  width: calc(var(--header-width) / 1);
  height: calc(var(--window-height) / 1);
  /* background-color: inherit; */
  /* background-color: powderblue; */
}
/* an atempt to make an triangle using the borders */

.triangle {
  box-sizing: content-box;
  width: 0px;
  height: 0px;
  border-left: var(--angle-offset) solid transparent;
  border-right: var(--angle-offset) solid transparent;
  border-top: var(--triangle-edges) solid #324723;
  position: relative;
}
/* use the before element to make another triangle and overlay them on top of each other */
.triangle::before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: var(--triangle-border-offset) solid transparent;
  border-right: var(--triangle-border-offset) solid transparent;
  border-top: calc(var(--triangle-edges) - 2rem) solid var(--main-bag-color);
  position: absolute;
  left: calc(-1 * var(--triangle-border-offset));
  top: calc(-1 * var(--triangle-edges) + 0.9rem);
}

/* rules window css */
.rulesWindow {
  display: none;
  position: absolute;
  left: 75%;
  float: right;
  z-index: 9;
  width: 24vw;
  aspect-ratio: 279/319;
  /* background-color: violet; */
}

.crossBtn {
  display: flex;
  position: relative;
  left: calc(var(--rule-box-height) - (var(--header-width) / 55));
  top: 20px;
  width: calc(var(--header-width) / 20);
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--forground-color);
  background-color: red;
  border: 5px solid var(--forground-color);
  z-index: 999;
  cursor: pointer;
}
.crossBtn button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.ruleBox {
  display: flex;
  flex-direction: column;
  color: var(--forground-color);
  border: 5px solid white;
  height: var(--rule-box-height);
  aspect-ratio: 1/1.1;
  border-radius: calc(var(--base-font-size));
  background-color: #004429;
  align-items: center;
}
.ruleBox label {
  width: 100%;
  display: block;
  color: var(--forground-color);
  font-weight: 500;
  font-size: calc(var(--base-font-size) * 2);
  text-align: center;
}
.ruleBox ul {
  margin: calc(var(--header-width) / 50);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  width: calc(var(--header-width) / 3);
  gap: 2vw;
  list-style-type: "\1F7E8";
  align-items: center;
  font-weight: 400;
}
.ruleBox li {
  height: 100%;
  width: 90%;
  padding-left: 2px;
  vertical-align: middle;
  text-align: justify;
  font-size: calc(var(--HUD-font-size));
}
footer {
  text-align: end;
}
footer button {
  border: 2px solid var(--forground-color);
  width: 100px;
  aspect-ratio: 17/6;
  color: inherit;
  background: none;
  margin: 0 1% 0 1%;
  border-radius: calc(var(--base-font-size) / 2);
  font-weight: 600;
  color: var(--forground-color);
  cursor: pointer;
}
#nxtBtn {
  display: none;
}

.playerOptionsContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2vh;
  width: calc(var(--header-width) / 1);
  height: calc(var(--window-height) / 1);
}
.playerOptions {
  width: var(--controls-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitecircle {
  background-color: var(--forground-color);
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}

#rock {
  /* display: block; */
  position: relative;
  left: calc((var(--triangle-edges) * -1) + var(--controls-width) + 2rem);
  top: calc(var(--triangle-edges) * (-0.5));
  background-color: var(--color-rock);
  transition: box-shadow 0.3s;
}

#rock:hover {
  box-shadow: 0 0 0 10px rgba(0, 116, 182, 0.4);
}

#imageRock {
  background-image: url(/assets/Rock.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}

#scissor {
  /* display: block; */
  position: relative;
  left: calc(var(--triangle-edges) - var(--controls-width) - 2rem);
  top: calc(var(--triangle-edges) * (-0.5));
  background-color: var(--color-scissor);
  transition: box-shadow 0.3s;
}
#scissor:hover {
  box-shadow: 0 0 0 10px rgba(189, 0, 255, 0.4);
}

#imageScissor {
  background-image: url(/assets/Scissor.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}

#paper {
  /* display: block; */
  position: relative;
  background-color: var(--color-paper);
  top: calc(var(--triangle-edges) * (0.5));
  transition: box-shadow 0.3s;
}

#paper:hover {
  box-shadow: 0 0 0 10px rgba(255, 169, 67, 0.4);
}

#imagePaper {
  background-image: url(/assets/Paper.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}

/* play window */

.resultWindow {
  display: flex;
  height: calc(var(--window-height) / 1);
  background-color: inherit;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.result {
  height: 15vw;
  aspect-ratio: 4/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.actualResult {
  color: var(--forground-color);
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
#omit {
  display: block;
  font-size: 1.5rem;
  margin: 1%;
}

.noAnimation {
  background-color: white;
  height: var(--controls-width);
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.Animation {
  background-color: white;
  height: var(--controls-width);
  border-radius: 50%;
  aspect-ratio: 1/1;

  animation: helo 5s linear infinite;
}
@keyframes helo {
  0% {
    box-shadow: 0 0 0 2vw rgba(40, 154, 39, 1),
      0 0 0 3.5vw rgba(40, 154, 39, 0.5), 0 0 0 4.5vw rgba(40, 154, 39, 0.1);
  }
  50% {
    box-shadow: 0 0 0 4vw rgba(40, 154, 39, 1), 0 0 0 7vw rgba(40, 154, 39, 0.5),
      0 0 0 9vw rgba(40, 154, 39, 0.1);
  }
  100% {
    box-shadow: 0 0 0 2vw rgba(40, 154, 39, 1),
      0 0 0 3.5vw rgba(40, 154, 39, 0.5), 0 0 0 4.5vw rgba(40, 154, 39, 0.1);
  }
}

#playerSellection {
  background-image: var(--rock-img);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  border: 20px solid var(--color-rock);
  margin-left: 5vw;
}
#computerSellection {
  background-image: var(--rock-img);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  border: 20px solid var(--color-rock);
  margin-right: 5vw;
}

#againBtn {
  background-color: var(--forground-color);
  color: #6b6b6b;
  width: 30%;
  margin: 5%;
  aspect-ratio: 22/9;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.hurray {
  display: flex;
  position: relative;
  margin-top: 7vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#trophy {
  scale: 0.8;
  background-repeat: no-repeat;
  background-position: center center;
}
.hurrayText {
  color: var(--forground-color);
  text-align: center;
  margin: 0.7vw;
  letter-spacing: 0.2rem;
}
#cheer {
  font-size: 4rem;
}
#cheerChild {
  margin: 0.3vw;
  font-size: 2rem;
}
.stars {
  position: absolute;
  align-items: center;
  animation: breath 2s linear infinite;
}
@keyframes breath {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
#str1 {
  top: -25%;
  left: 0%;
  scale: 20%;
}

#str2 {
  top: -19%;
  left: 23%;
  scale: 20%;
}

#str3 {
  top: -6%;
  left: -12%;
  scale: 50%;
}
#str4 {
  top: 10%;
  left: -24%;
  scale: 70%;
}
#str5 {
  top: 27%;
  left: 5%;
  scale: 20%;
}
#str6 {
  top: -22%;
  left: 71%;
  scale: 70%;
}

#str7 {
  top: 1%;
  left: 83%;
  scale: 20%;
}
#str8 {
  top: 21%;
  left: 74%;
  scale: 70%;
}
